.bg-img {
    height: 75vh;
    width: 100vw;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.8);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
    clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
}

.content {
    position: relative;
    top: -30vh;
    /* left: 50%;
    transform: translate(-50%);
    z-index: 1; */
}

.nav-link {
    border-bottom: 10px;
}