<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../static/style.css">
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<title>Login | Rank Realm</title>
<script>
function switchForm() {
    var loginForm = document.getElementById("loginForm");
    var registerForm = document.getElementById("registerForm");
    if (loginForm.style.display === "none") {
        loginForm.style.display = "block";
        registerForm.style.display = "none";
    } else {
        loginForm.style.display = "none";
        registerForm.style.display = "block";
    }
}
</script>
</head>
<header>
    <h2 class="logo">Logo</h2>
    <nav class="navigation">
        <a href="homepage.html">Home</a>
        <a href="games.html">Games</a>
        <a href="event.html">Events</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </nav>
</header>
<body>
<div class="wrapper">
    <form id="loginForm" action="">
        <h1>Welcome Back!</h1>
        <div class="input-box">
            <input type="text" name="username" placeholder="Username" required>
        </div>
        <div class="input-box">
            <input type="password" name="password" placeholder="Password" required>
        </div>
        <div class="button-group">
            <button type="submit">Login</button>
            <button type="button" onclick="switchForm()">Register</button>
        </div>
    </form>
    <form id="registerForm" action="{% url 'register' %}" method="post" style="display:none">
        {% csrf_token %}
        <h1>Register</h1>
        <div class="input-box">
            <input type="text" name="username" placeholder="Username" required>
        </div>
        <div class="input-box">
            <input type="email" name="email" placeholder="Email" required>
        </div>
        <div class="input-box">
            <input type="password" name="password" placeholder="Password" required>
        </div>
        <div class="button-group">
            <button type="submit">Create Account</button>
            <button type="button" onclick="switchForm()">Back to login</button>
        </div>
    </form>
</div>
</body>
</html>
